
<div class="well">
<h4>Meet the Principle Investigator</h4>

<!-- - name: Kamran Idrees
  photo: Idrees_Kamran-5x7.jpg
  info: Principle Investigator
  email: kamran.idrees@vumc.org
  number_educ: 3
  education1: Chief  Division of Surgical Oncology & Endocrine Surgery
  education2: Ingram Associate Professor of Cancer Research
  education3: Director, Pancreatic and Gastro-Intestinal Surgical Oncology -->

<img src="{{ site.url }}{{ site.baseurl }}/images/teampic/Idrees_Kamran-5x7.jpg" class="img-responsive" width="100%" style="float: left" />
<h3>Kamran Idrees</h3>
<i>Chief, Division of Surgical Oncology & Endocrine Surgery <!--<br>email: <{{ member.email }}></i> -->
<i>Ingram Associate Professor of Cancer Research</i>
<i>Director, Pancreatic and Gastro-Intestinal Surgical Oncology</i>
<ul style="overflow: hidden">
  
<h5><a href="{{ site.url }}{{ site.baseurl }}/team.html">... and meet the Team.</a></h5>

</div>
